<svg ng-attr-height="{{graph.height}}" ng-attr-width="{{graph.width}}" height="5000" width="5000">

                <!-- ngRepeat: rect in rectangles --><rect ng-repeat="rect in rectangles" ng-attr-x="{{rect.x}}" ng-attr-y="{{rect.y}}" ng-attr-width="{{rect.width}}" ng-attr-height="{{rect.height}}" ng-attr-style="{{rect.style}}" x="0" y="0" width="30" height="30" style="fill:rgb(0,0,255);stroke-width:3;stroke:rgb(0,0,0)">

                    <!--   ng-attr-info="{{rect.info}}" -->


                </rect><!-- end ngRepeat: rect in rectangles --><rect ng-repeat="rect in rectangles" ng-attr-x="{{rect.x}}" ng-attr-y="{{rect.y}}" ng-attr-width="{{rect.width}}" ng-attr-height="{{rect.height}}" ng-attr-style="{{rect.style}}" x="30" y="0" width="30" height="30" style="fill:rgb(0,0,255);stroke-width:3;stroke:rgb(0,0,0)">

                    <!--   ng-attr-info="{{rect.info}}" -->


                </rect><!-- end ngRepeat: rect in rectangles --><rect ng-repeat="rect in rectangles" ng-attr-x="{{rect.x}}" ng-attr-y="{{rect.y}}" ng-attr-width="{{rect.width}}" ng-attr-height="{{rect.height}}" ng-attr-style="{{rect.style}}" x="60" y="0" width="30" height="30" style="fill:rgb(0,0,255);stroke-width:3;stroke:rgb(0,0,0)">

                    <!--   ng-attr-info="{{rect.info}}" -->


                </rect><!-- end ngRepeat: rect in rectangles --><rect ng-repeat="rect in rectangles" ng-attr-x="{{rect.x}}" ng-attr-y="{{rect.y}}" ng-attr-width="{{rect.width}}" ng-attr-height="{{rect.height}}" ng-attr-style="{{rect.style}}" x="90" y="0" width="30" height="30" style="fill:rgb(0,0,255);stroke-width:3;stroke:rgb(0,0,0)">

                    <!--   ng-attr-info="{{rect.info}}" -->


                </rect><!-- end ngRepeat: rect in rectangles --><rect ng-repeat="rect in rectangles" ng-attr-x="{{rect.x}}" ng-attr-y="{{rect.y}}" ng-attr-width="{{rect.width}}" ng-attr-height="{{rect.height}}" ng-attr-style="{{rect.style}}" x="120" y="0" width="30" height="30" style="fill:rgb(0,0,255);stroke-width:3;stroke:rgb(0,0,0)">

                    <!--   ng-attr-info="{{rect.info}}" -->


                </rect><!-- end ngRepeat: rect in rectangles --><rect ng-repeat="rect in rectangles" ng-attr-x="{{rect.x}}" ng-attr-y="{{rect.y}}" ng-attr-width="{{rect.width}}" ng-attr-height="{{rect.height}}" ng-attr-style="{{rect.style}}" x="150" y="0" width="30" height="30" style="fill:rgb(0,0,255);stroke-width:3;stroke:rgb(0,0,0)">

                    <!--   ng-attr-info="{{rect.info}}" -->


                </rect><!-- end ngRepeat: rect in rectangles --><rect ng-repeat="rect in rectangles" ng-attr-x="{{rect.x}}" ng-attr-y="{{rect.y}}" ng-attr-width="{{rect.width}}" ng-attr-height="{{rect.height}}" ng-attr-style="{{rect.style}}" x="180" y="0" width="30" height="30" style="fill:rgb(0,0,255);stroke-width:3;stroke:rgb(0,0,0)">

                    <!--   ng-attr-info="{{rect.info}}" -->


                </rect><!-- end ngRepeat: rect in rectangles --><rect ng-repeat="rect in rectangles" ng-attr-x="{{rect.x}}" ng-attr-y="{{rect.y}}" ng-attr-width="{{rect.width}}" ng-attr-height="{{rect.height}}" ng-attr-style="{{rect.style}}" x="30" y="30" width="30" height="30" style="fill:rgb(0,0,255);stroke-width:3;stroke:rgb(0,0,0)">

                    <!--   ng-attr-info="{{rect.info}}" -->


                </rect><!-- end ngRepeat: rect in rectangles --><rect ng-repeat="rect in rectangles" ng-attr-x="{{rect.x}}" ng-attr-y="{{rect.y}}" ng-attr-width="{{rect.width}}" ng-attr-height="{{rect.height}}" ng-attr-style="{{rect.style}}" x="60" y="30" width="30" height="30" style="fill:rgb(0,0,255);stroke-width:3;stroke:rgb(0,0,0)">

                    <!--   ng-attr-info="{{rect.info}}" -->


                </rect><!-- end ngRepeat: rect in rectangles --><rect ng-repeat="rect in rectangles" ng-attr-x="{{rect.x}}" ng-attr-y="{{rect.y}}" ng-attr-width="{{rect.width}}" ng-attr-height="{{rect.height}}" ng-attr-style="{{rect.style}}" x="90" y="30" width="30" height="30" style="fill:rgb(0,0,255);stroke-width:3;stroke:rgb(0,0,0)">

                    <!--   ng-attr-info="{{rect.info}}" -->


                </rect><!-- end ngRepeat: rect in rectangles --><rect ng-repeat="rect in rectangles" ng-attr-x="{{rect.x}}" ng-attr-y="{{rect.y}}" ng-attr-width="{{rect.width}}" ng-attr-height="{{rect.height}}" ng-attr-style="{{rect.style}}" x="120" y="30" width="30" height="30" style="fill:rgb(0,0,255);stroke-width:3;stroke:rgb(0,0,0)">

                    <!--   ng-attr-info="{{rect.info}}" -->


                </rect><!-- end ngRepeat: rect in rectangles --><rect ng-repeat="rect in rectangles" ng-attr-x="{{rect.x}}" ng-attr-y="{{rect.y}}" ng-attr-width="{{rect.width}}" ng-attr-height="{{rect.height}}" ng-attr-style="{{rect.style}}" x="150" y="30" width="30" height="30" style="fill:rgb(0,0,255);stroke-width:3;stroke:rgb(0,0,0)">

                    <!--   ng-attr-info="{{rect.info}}" -->


                </rect><!-- end ngRepeat: rect in rectangles --><rect ng-repeat="rect in rectangles" ng-attr-x="{{rect.x}}" ng-attr-y="{{rect.y}}" ng-attr-width="{{rect.width}}" ng-attr-height="{{rect.height}}" ng-attr-style="{{rect.style}}" x="60" y="60" width="30" height="30" style="fill:rgb(0,0,255);stroke-width:3;stroke:rgb(0,0,0)">

                    <!--   ng-attr-info="{{rect.info}}" -->


                </rect><!-- end ngRepeat: rect in rectangles --><rect ng-repeat="rect in rectangles" ng-attr-x="{{rect.x}}" ng-attr-y="{{rect.y}}" ng-attr-width="{{rect.width}}" ng-attr-height="{{rect.height}}" ng-attr-style="{{rect.style}}" x="90" y="60" width="30" height="30" style="fill:rgb(0,0,255);stroke-width:3;stroke:rgb(0,0,0)">

                    <!--   ng-attr-info="{{rect.info}}" -->


                </rect><!-- end ngRepeat: rect in rectangles --><rect ng-repeat="rect in rectangles" ng-attr-x="{{rect.x}}" ng-attr-y="{{rect.y}}" ng-attr-width="{{rect.width}}" ng-attr-height="{{rect.height}}" ng-attr-style="{{rect.style}}" x="120" y="60" width="30" height="30" style="fill:rgb(0,0,255);stroke-width:3;stroke:rgb(0,0,0)">

                    <!--   ng-attr-info="{{rect.info}}" -->


                </rect><!-- end ngRepeat: rect in rectangles --><rect ng-repeat="rect in rectangles" ng-attr-x="{{rect.x}}" ng-attr-y="{{rect.y}}" ng-attr-width="{{rect.width}}" ng-attr-height="{{rect.height}}" ng-attr-style="{{rect.style}}" x="90" y="90" width="30" height="30" style="fill:rgb(0,0,255);stroke-width:3;stroke:rgb(0,0,0)">

                    <!--   ng-attr-info="{{rect.info}}" -->


                </rect><!-- end ngRepeat: rect in rectangles -->

            </svg>